* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	
}


#header {
	width: 100%;
	height: 130px;
	background: rgb(255, 255, 255);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
}

#content .headbar{
	position: fixed;
	z-index: 1001;
	background: white;
	width: 1024px;
	
}



#header .bars {
	/* background-color: rgb(249, 252, 252); */
	font-size: 22px;
	width: 90px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	left: 1.5%;
	top: 18%;
}

#header .logo img {
	width: 85px;
	height: 25px;
	margin: 0;
	padding: 0;

	position: absolute;
	left:4%;
	top: 18%;
}

#btnsearch{
	position:absolute;
	top: 9%;
	right: 29.5%;
	height: 40px;
	width: 30px;
	font-size: large;
}


#search{
	position:absolute;
	top: 9%;
	right: 30%;
	width: 700px;
    height: 40px;

}



#header .microphone {
	/* background-color: rgb(249, 252, 252); */
	display: flex;
	width: 40px;
	height: 40px;
	position: fixed;
	top: 1.5%;
	right: 26%;
	border: 1px solid;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.microphone:hover {
	background-color: rgb(192, 192, 192);
}

.set {
	width: 40px;
	height: 40px;
	font-size: 22px;
	position: absolute;
	background-color: white;
	top: 12%;
	right: 6%;

	border-radius: 50%;

	/* display: flex;
	align-items: center;
	justify-content: center; */
	cursor: pointer;
}

.user {
	/* width: 60px; */
	height: 40px;
	position: absolute;

	top: 10%;
	right: 1%;

	/* border-radius: 50%; */

	display: flex;
	align-items: center;
	justify-content: center;
}

.user:hover .front,
.user:hover .middle,
.user:hover .back {
	background: rgba(196, 223, 255, 0.8);
}

.front {
	width: 30px;
	height: 40px;
	border-radius: 50% 0 0 50%;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(220, 220, 220);
	border-right: none;
}
.middle {
	/* display: flex; */
	width: 50px;
	height: 40px;
	background-color: rgb(255, 255, 255);
	text-align: center;
	line-height: 40px;
	border: 1px solid rgb(220, 220, 220);
	border-right: none;
	border-left: none;
	color: blue;
}
.login {
	padding-right: 3px;
}
.back {
	width: 30px;
	height: 40px;
	border-radius: 0 50% 50% 0;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(220, 220, 220);
	border-left: none;
}

.bell:hover {
	background-color: rgb(192, 192, 192);
}

/* 側邊選單  */
#sidebar {
	/* view port height */
	display: flex;
	flex-direction: column;
    border: none;
	height: calc(100vh - 80px);
	width: 13%;
	background: rgb(255, 255, 255);
	position: fixed;
	left: 10px;
	top:80px;
	padding: 5xpx;
	overflow: scroll;
	overflow-x: hidden;
	z-index: 10000;
}

#sidebar .homepage {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	position: absolute;
	
	top: 0%;
	/* left: 19%; */
	width: 200px;
}

#sidebar .homepage:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .shorts {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	/* left: 13%;  */
	top: 6%;
	width: 200px;
}

#sidebar .shorts:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .subscription {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	/* left: 13%;  */
	top: 11%;
	width: 200px;
}

#sidebar .subscription:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .media {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	/* left: 13%;  */
	top: 18%;
	width: 200px;
}

#sidebar .media:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .history {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	/* left: 13%;  */
	top: 24%;
	width: 200px;
}

#sidebar .history:hover {
	background-color: rgb(238, 236, 236);
}


#sidebar .log{
	position: absolute;
	top: 30%;
	z-index: 1001;
}

.middle2{
	background: white;
	color: rgb(2, 14, 255);
	margin-left:20px ;
}

#sidebar .view {
	font-size: 16px;
	position: absolute;
	top: 39%;
	margin-left: 11px;
}




#sidebar .hot {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	/* left: 13%;  */
	top: 42%;
	width: 200px;
}

#sidebar .hot:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .music {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	/* left: 13%;  */
	top: 48%;
	width: 200px;
}

#sidebar .music:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .movie {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	/* left: 13%;  */
	top: 54%;
	width: 200px;
}

#sidebar .movie:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .live {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	/* left: 13%;  */
	top: 60%;
	width: 200px;
}

#sidebar .live:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .game {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	/* left: 13%;  */
	top: 66%;
	width: 200px;
}

#sidebar .game:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .news {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	/* left: 13%;  */
	top: 72%;
	width: 200px;
}

#sidebar .news:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .sport {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	/* left: 13%;  */
	top: 78%;
	width: 200px;
}

#sidebar .sport:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .set {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	left: 0%; 
	top: 84%;
	width: 200px;
}

#sidebar .set:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .bad {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	left: 0%; 
	top: 90%;
	width: 200px;
}

#sidebar .bad:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .ask {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	left: 0%; 
	top: 96%;
	width: 200px;
}

#sidebar .ask:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .plan {
	font-size: 16px;
	padding: 13px;
	border-radius: 10%;
	
	position: absolute;
	left: 0%; 
	top: 102%;
	width: 200px;
}

#sidebar .plan:hover {
	background-color: rgb(238, 236, 236);
}

/* 內容 */

#content {
    display: flex;
    width: calc(100% - 6%);
	margin-top: 8%;
    margin-left: 15%;
    background: rgb(254, 254, 254);
    flex-wrap: wrap;
}



.headbar {
	display: flex;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 8%;
	
}

.headbar div {
	width: 70px;
	height: 25px;
	margin: 10px;
	text-align: center;
	background: rgb(240, 240, 243);
	border-radius: 10%;
	font-size: 14px;
	line-height: 25px;
}

.headbar div:hover {
	background: rgb(141, 137, 137);
}

.headbar div:first-child {
	background: rgb(56, 56, 56);
	color: rgb(255, 255, 255);
}

.card {
	
	display: flex;
	flex-wrap: wrap	;
	width: 300px;
	left: 50px;
	padding: 0px;
	margin: 7px 7px;
	
}

.card img {
	

	width: 300px;
	height: 200px; /* 图片最大高度 */
	border-radius: 5%;
	border: none;
}

.info {
	width: 300px;
	display: flex;
}

.info h6{
	font-size: 16px;
}

.info img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	/* margin: 10px; */
}

.username {
	width: 20px;
	margin: 1px 20px 10px 2px;
}

.h6,
.p {
	display: flex;
	font-size: 12px;
}


