* {
	margin: 0;
}

#header {
	width: 100%;
	height: 60px;
	background: rgb(255, 255, 255);
	position: fixed;
	left: 0;
	top: 0;
}

#header .bars {
	/* background-color: rgb(249, 252, 252); */
	font-size: 22px;
	width: 90px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	left: 3.7%;
	top: 35%;
}

#header .logo img {
	width: 85px;
	height: 25px;
	margin: 0;
	padding: 0;

	position: absolute;
	left: 10%;
	top: 35%;
}

#header .input-group {
	width: 580px;
	height: 10px;
	position: absolute;
	top: 25%;
	left: 25%;
	border-radius: 50% 0 0 50%;
}

#header .microphone {
	/* background-color: rgb(249, 252, 252); */
	display: flex;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 26%;
	right: 25%;
	border: 1px solid;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.microphone:hover {
	background-color: rgb(192, 192, 192);
}

.set {
	width: 40px;
	height: 40px;
	font-size: 22px;
	position: absolute;
	background-color: white;
	top: 28%;
	right: 10%;

	border-radius: 50%;

	/* display: flex;
	align-items: center;
	justify-content: center; */
	cursor: pointer;
}

.user {
	/* width: 60px; */
	height: 40px;
	position: absolute;

	top: 22%;
	right: 3%;

	/* border-radius: 50%; */

	display: flex;
	align-items: center;
	justify-content: center;
}

.user:hover .front,
.user:hover .middle,
.user:hover .back {
	background: rgba(196, 223, 255, 0.8);
}

.front {
	width: 30px;
	height: 40px;
	border-radius: 50% 0 0 50%;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(220, 220, 220);
	border-right: none;
}
.middle {
	/* display: flex; */
	width: 50px;
	height: 40px;
	background-color: rgb(255, 255, 255);
	text-align: center;
	line-height: 40px;
	border: 1px solid rgb(220, 220, 220);
	border-right: none;
	border-left: none;
	color: blue;
}
.login {
	padding-right: 3px;
}
.back {
	width: 30px;
	height: 40px;
	border-radius: 0 50% 50% 0;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(220, 220, 220);
	border-left: none;
}

.bell:hover {
	background-color: rgb(192, 192, 192);
}

/* 側邊選單  */
#sidebar {
	/* view port height */
	display: flex;
	flex-direction: column;

	height: calc(100vh - 60px);
	width: 15%;
	background: rgb(255, 255, 255);
	position: fixed;
	left: 10px;
	top: 60px;
}

#sidebar .homepage {
	font-size: 15px;
	padding: 13px;
	border-radius: 10%;
	position: absolute;
	text-align: center;
	top: 2%;
	/* left: 19%; */
	width: 90px;
}

#sidebar .homepage:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .shorts {
	font-size: 15px;
	padding: 13px;
	border-radius: 10%;
	text-align: center;
	position: absolute;
	/* left: 13%;  */
	top: 15%;
	width: 90px;
}

#sidebar .shorts:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .subscription {
	font-size: 15px;
	padding: 13px;
	border-radius: 10%;
	text-align: center;
	position: absolute;
	/* left: 13%;  */
	top: 28%;
	width: 90px;
}

#sidebar .subscription:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .media {
	font-size: 15px;
	padding: 13px;
	border-radius: 10%;
	text-align: center;
	position: absolute;
	/* left: 13%;  */
	top: 41%;
	width: 90px;
}

#sidebar .media:hover {
	background-color: rgb(238, 236, 236);
}

#sidebar .history {
	font-size: 15px;
	padding: 13px;
	border-radius: 10%;
	text-align: center;
	position: absolute;
	/* left: 13%;  */
	top: 54%;
	width: 90px;
}

#sidebar .history:hover {
	background-color: rgb(238, 236, 236);
}

.home #content {
	width: calc(100% - 15%);
	margin-left: 15%;
	background: lightgreen;
}

.searchBtn {
	width: 50px;
	height: 40px;
}

.searchIcon {
	width: 30px;
	height: 30px;
}
